body {
    background-color: hsl(35, 92%, 75%);
}

form {
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    background-color: hsla(35, 92%, 58%, 8%);
    box-shadow: 0 2px 5px 0;
}

.input {
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 90%;
    height: 40px;
    padding: 18px;
}

button {
    background-color: hsla(278, 91%, 75%, 0.8);
    color: white;
    width: 300px;
    height: 60px;
}
