:root {
  --black: #000;
  --white: #fff;
  --light-black: #4c4c4c;

  --orange: #f68300;
  --beige: #fff8e3;
  --navbar-top: #fff7e0;
  --notification-red: #ff0000;
}

/* PAGE WRAPPER (navbar bovenaan + layout eronder) */
.dashboard-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--beige);
  font-family: Inter, sans-serif;
}

/* FULL-WIDTH NAVBAR */
.dashboard-navbar {
  width: 100%;
  height: 70px;
  background-color: var(--navbar-top);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  border-bottom: 2px solid rgb(245, 242, 242);
}

.navbar-logo {
  width: 120px;
  height: auto;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.notification-dot {
  width: 10px;
  height: 10px;
  background-color: var(--notification-red);
  border-radius: 50%;
}

/* LAYOUT UNDER NAVBAR */
.dashboard-container {
  display: flex;
  flex: 1;
}

/* SIDEBAR */
.dashboard-aside {
  width: 155px;
  padding: 60px 22px 40px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--orange);
  color: var(--white);
  font-weight: 700;
}
.welcome-text {
  margin-bottom: 50px;
}
.dashboard-aside img {
  width: 100x;
  height: 100px;
  border-radius: 50%;
}


.dashboard-aside ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.dashboard-aside li {
  cursor: pointer;
  padding: 10px;
  transition: 0.2s ease;
  font-size: 14px;
}

.dashboard-aside li:hover {
  opacity: 0.8;
}

.dashboard-aside li.active {
  background-color: var(--white);
  color: var(--orange)
}

/* MAIN CONTENT AREA */
.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* CONTENT WRAPPER */
.dashboard-content {
  flex: 1;
  margin: 10px;
  padding: 40px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* CARD HEADER */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--black);
  padding-bottom: 12px;
  margin-bottom: 20px;


}

.card-header h1 {
  font-size: 28px;
  margin: 0;
}

.card-header button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

/* MEAL TRAIN ITEMS */
.meal-train-item {
  padding: 10px 20px;
  margin-bottom: 30px;
  background-color: var(--white);
  border: 1px solid var(--light-black);
  border-radius: 8px;

}

.meal-train-item h2 {
  font-size: 18px;
  margin: 5px 0;
}

.meal-train-item p {
  margin-top: 6px;
  font-size: 15px;
  color: var(--light-black);
}